.main_form {
  text-align: center;
  background: lightgrey;
  margin-top: 10px;
}
a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.navigation_to_dashboard {
  display: flex;
  justify-content: space-between;
}

.back_to,
.next_to {
  display: flex;
  width: 300px;
  line-height: 1;
  /* margin: 15px;  */
  font-size: 20px;
  padding: 15px;
  text-align: center;
  justify-content: center;

  background-color: tomato;
  border-radius: 3px;
}

.back_to svg {
  margin-left: 0px;
}

.next_to svg {
  margin-left: 0px;
}

.container_quiz_dashboard {
  max-width: 99%;
  background-color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
}

.form-check {
  display: flex;
}

label {
  font-size: 20px;
  display: block;
}

.uploaded_text p {
  font-size: 20px;
  text-decoration: underline;
  color: tomato;
}
.finals {
  width: 100%;
}

.Form {
  width: 50%;
}

.custom-file-label {
  text-align: left;
  height: 48px;
  line-height: 1.6;
  margin-bottom: -300px !important;
}

.custom-file-label::after {
  height: 47px;
  border-bottom: 1px solid #ced4da;
  line-height: 1.6;
}

hr {
  border-top: 2px solid tomato;
}

.form-group {
  margin-bottom: 0px;
}

.button_upload {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 20px;
}

progress {
  vertical-align: baseline;
  width: 90%;
  height: 25px;
}

.MuiLinearProgress-colorPrimary {
  vertical-align: baseline;
  width: 90%;
  height: 6px !important;
  border-radius: 3px;
  margin: auto;
  background-color: rgba(255, 99, 71, 0.3) !important;
}

.MuiLinearProgress-barColorPrimary {
  background-color: tomato !important;
}

.uploaded_file {
  font-weight: 600;
}

.input-group > .custom-file:not(:first-child) .custom-file-label {
  text-align: left;
  cursor: pointer;
}

.input-group-text {
  font-size: 20px;
  border-radius: 2px;
}

.custom-file-label {
  border-radius: 2px !important;
}
.custom-file-label::after {
  border-radius: unset;
}

.button_Add {
  /* float: left; */
  background-color: #1f5967 !important;
  color: white;
  border-color: #1f5967 !important;
  width: 200px;
}

.button_Add:hover {
  color: white;
}

.dropdown_container {
  margin-top: 10px;
  justify-content: center;
}
.row {
  margin-top: 10px;
}

.input-group > .custom-select:not(:last-child),
.input-group > .form-control:not(:last-child) {
  height: 48px;
  font-size: 1.25rem;
  min-height: 38px;
}
.custom-select {
  border-radius: 2px;
}

#question_main {
  font-size: 1.25rem;
  font-weight: 400;
  height: 48px;
  /* margin-bottom: 30px; */
}

@media (max-width: 991px) {
  .container_quiz_dashboard {
    font-size: 29px;
  }

  .Form {
    width: 90%;
  }

  .button_upload {
    width: 50%;
  }

  .back_to,
  .next_to {
    font-size: 15px;
    display: flex;
    font-weight: 500;
    width: 200px;
  }

  .accordion {
    margin-top: -20px;
  }

  .id {
    font-size: 25px;
    margin-left: 0px;
    width: 98%;
  }

  .category {
    font-size: 25px;
    margin-left: 0px;
    width: 98%;
  }

  .question_in_text {
    font-size: 25px;
    margin-left: 0px;
    width: 98%;
  }

  .card-header {
    display: inline-block;

    margin-left: auto;
    margin-right: auto;
  }
}
