a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.navigation_to_dashboard {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.back_to svg {
  margin-left: 0px;
}

.next_to svg {
  margin-left: 0px;
}

.container_quiz_dashboard {
  max-width: 99%;
  background-color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
}

.id {
  font-size: 17px;
  background: #1f5967;
  padding: 8px;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 40%;
  line-height: 2;
  margin-left: auto;
  margin-right: auto;
}

.category {
  font-size: 17px;
  background-color: #f5b120;
  padding: 7px;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 63%;
  line-height: 2;
  margin-left: auto;
  margin-right: auto;
}

.level {
  font-size: 17px;
  background-color: #3906ee;
  padding: 8px;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 40%;
  line-height: 2;
  margin-left: auto;
  margin-right: auto;
}

svg {
  overflow: hidden;
  vertical-align: middle;
  border-radius: 0px;
  cursor: pointer;
  /* margin-left: 5px; */
}

.card-body {
  margin: auto;
  width: 100%;
}

.bi-pencil,
.bi-x {
  color: #fff;
  background-color: #f43f5a;
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.16),
    0 2px 10px 0 rgba(255, 254, 254, 0.12);
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
.bi-x:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* Audio player */
.rhap_header {
  font-weight: 600;
  font-size: 20px;
}

.rhap_container {
  box-shadow: none !important;
  border-top: 1px solid tomato;
  border-bottom: 1px solid tomato;
}

.question_image_format {
  margin-top: 20px;
  width: 60%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.answer_id {
  font-size: 20px;
}

.answer_text,
.answer_quizId {
  width: 100%;
  color: #000;
  font-size: 20px;
}
.answer_isCorrect {
  width: 100%;
  color: whitesmoke;
  font-size: 20px;
}

.answer_text_value {
  font-size: 20px;
}

.answer_isCorrect_value {
  font-size: 20px;
}

.correct_box {
  background-color: rgb(71 83 80 / 80%);
  padding: 5px;
  width: 60%;
  margin: auto;
  padding-bottom: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.answer_isCorrect_value_correct {
  font-size: 20px;
  color: #5bff2a;
  font-weight: 800;
  text-transform: capitalize;
  background: black;
  width: 60%;
  border-radius: 3px;
  padding: 5px;
  margin: auto;
}

.answer_isCorrect_value_false {
  font-size: 20px;
  color: #f43f5a;
  font-weight: 800;
  text-transform: capitalize;
  background: black;
  width: 60%;
  border-radius: 3px;
  padding: 5px;
  margin: auto;
}

.answer_image {
  width: 100%;
}

.question_image_answer {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 2px;
}

.btn:not(:disabled):not(.disabled) {
  width: 200px;
}

.loading-spinner {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head_card_top {
  height: 150px;
  background: linear-gradient(100deg, #1f5967, #3906ee) !important;

  border-radius: 0.25rem 0.25rem 0rem 0rem;
}

.head_card_below {
  display: inline-block;
  margin-top: -100px;
  /* margin-bottom: -100px; */
}

.card {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 130px;
}

.left-image {
  padding: 0;
  flex: 25%;
}
.level_id {
  display: flex;
  width: 70%;
  margin: auto;
}

.card-img-top {
  width: 60%;
  height: auto;
  margin: auto;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.iconDelete {
  padding: 0px;
  flex: 25%;
  float: right;
  margin-right: 20px;
}

.Card-Group {
  display: flex;
}

.card-text {
  font-size: 25px;
}
/* .button {
  outline: none !important;
}
.button:focus {
  outline: 0 !important;
} */

.answer_button {
  width: 60%;
  padding: 7px;
  border-radius: 5px;
  line-height: 2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.answer_button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.header_modal_answer {
  display: block;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  background: linear-gradient(100deg, #1f5967, #3906ee) !important;
}

.row2 {
  display: flex;
  justify-content: center;
}

@media (max-width: 991px) {
  .level_id {
    display: inline-block;
    width: 100%;
  }
  .row2 {
    display: inline-flex;
  }

  .container_quiz_dashboard {
    font-size: 29px;
  }
  .container_title {
    margin: 20px;
  }

  .level p,
  .id p,
  .category p,
  .question_in_text p {
    top: unset;
    transform: unset;
  }

  .card-body {
    width: 90%;
  }

  .question_image_format {
    width: 80%;
  }

  .back_to,
  .next_to {
    font-size: 15px;
    display: flex;
    font-weight: 500;
  }

  .id {
    font-size: 20px;
    margin-left: 0px;
    width: 100%;
  }

  .level {
    font-size: 20px;
    margin-left: 0px;
    width: 100%;
  }

  .category {
    font-size: 20px;
    margin-left: 0px;
    width: 100%;
  }

  .question_in_text_right {
    width: 100%;
    margin: auto;
  }

  .card-header {
    display: inline-block;
  }

  .modal-footer {
    display: flex;
    justify-content: center;
  }

  .btn:not(:disabled):not(.disabled) {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: auto;
  }
  .rhap_container {
    margin-bottom: 10px;
  }
}
