a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.navigation_to_dashboard {
  display: flex;
}

.back_to {
  display: flex;

  width: 50%;
  line-height: 1;
  margin-top: 5px;
  font-size: 30px;
  padding: 3px;
  justify-content: center;
}
.next_to {
  display: flex;

  width: 50%;
  line-height: 1;
  margin-top: 5px;
  font-size: 30px;
  padding: 3px;
  justify-content: center;
}

.back_to svg {
  margin-left: 0px;
}

.next_to svg {
  margin-left: 0px;
}

.Titles {
  font-size: 30px;
  color: red;
}
.container_quiz_dashboard {
  max-width: 90%;
  background-color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
}

.question_part {
  display: flex;
  /* text-align: center; */
  justify-content: center;
}

.accordion {
  width: 100%;
  border-radius: none;
}

.id {
  font-size: 30px;
  background-color: #3906ee;
  padding: 8px;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 10vw;
}

.category {
  font-size: 30px;
  margin-left: 10px;
  background-color: #f5b120;
  padding: 7px;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 20vw;
}

.question_in_text {
  font-size: 30px;
  margin-left: 10px;
  background-color: #1f5967;
  padding: 7px;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 50vw;
}

.card {
  border-radius: 0px;
  box-shadow: none;
  background-color: none;
  max-width: 100%;
}

.card-header {
  /* justify-content: center; */
  display: flex;
  background: #fff;
  justify-content: center;
}

svg {
  overflow: hidden;
  vertical-align: middle;
  margin-left: 10px;
  border-radius: 0px;
  cursor: pointer;
}

.card-body {
  display: inline-block;
}

.bi-pencil,
.bi-x {
  color: tomato;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 4px;
  margin-top: 5px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .container_quiz_dashboard {
    font-size: 29px;
  }
  .back_to {
    width: 50%;
  }

  .back_to,
  .next_to {
    font-size: 20px;
  }

  .accordion {
    margin-top: -20px;
  }

  .id {
    font-size: 25px;
    margin-left: 0px;
    width: 98%;
  }

  .category {
    font-size: 25px;
    margin-left: 0px;
    width: 98%;
  }

  .question_in_text {
    font-size: 25px;
    margin-left: 0px;
    width: 98%;
  }

  .card-header {
    display: inline-block;

    margin-left: auto;
    margin-right: auto;
  }
}
