a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.navigation_to_dashboard {
  display: flex;
  justify-content: space-between;
}

.back_to,
.next_to {
  display: flex;
  max-width: 50%;
  line-height: 1;
  margin: 15px;
  font-size: 30px;
  padding: 5px;

  background-color: tomato;
  border-radius: 3px;
}

.back_to svg {
  margin-left: 0px;
}

.next_to svg {
  margin-left: 0px;
}

.container_quiz_dashboard {
  max-width: 99%;
  background-color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
}

.question_part {
  display: flex;
  /* text-align: center; */
  justify-content: center;
}

.accordion {
  width: 100%;
  border-radius: none;
}

.level {
  font-size: 25px;
  background-color: #3906ee;
  padding: 8px;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 10vw;
  line-height: 2;
}

.level p,
.id p,
.category p,
.question_in_text p {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.id {
  font-size: 25px;
  background-color: #3906ee;
  padding: 8px;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 10vw;
  line-height: 2;
}

.category {
  font-size: 25px;
  background-color: #f5b120;
  padding: 7px;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 12vw;
  line-height: 2;
}

.question_in_text {
  font-size: 25px;
  background-color: #1f5967;
  padding: 7px;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 50vw;
  line-height: 2;
}

.card {
  border-radius: 0px;
  box-shadow: none;
  background-color: none;
  max-width: 100%;
}

.card-header {
  display: flex;
  background: #fff;
  justify-content: space-evenly;
}

svg {
  overflow: hidden;
  vertical-align: middle;
  border-radius: 0px;
  cursor: pointer;
}

.card-body {
  display: inline-block;
}

.bi-pencil,
.bi-x {
  color: tomato;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 4px;
  margin-top: 5px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .container_quiz_dashboard {
    font-size: 29px;
  }

  .back_to,
  .next_to {
    font-size: 15px;
    display: flex;
    font-weight: 500;
  }

  .accordion {
    margin-top: -20px;
  }

  .id {
    font-size: 25px;
    margin-left: 0px;
    width: 98%;
  }

  .level {
    font-size: 25px;
    margin-left: 0px;
    width: 98%;
  }

  .category {
    font-size: 25px;
    margin-left: 0px;
    width: 98%;
  }

  .question_in_text {
    font-size: 25px;
    margin-left: 0px;
    width: 98%;
  }

  .card-header {
    display: inline-block;

    margin-left: auto;
    margin-right: auto;
  }
}
