.container_memory {
  margin-top: 10%;
  margin-bottom: 10%;
  justify-content: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  padding: 10px;
  background-color: #f5b120;
  border-radius: 15px;
}

.Cards {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.Cards_In {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.Back {
  transition: 0.6s;
  transform: rotateY(180deg);
  cursor: pointer;
  float: left;
  margin: 7px;
  width: 13vw;
  height: 13vw;
  padding: 6px;
  border-radius: 15px !important;
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
  background-image: linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -o-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -moz-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -webkit-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -ms-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #1abc9c),
    color-stop(1, (#1f5967))
  );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.Front {
  cursor: pointer;
  float: left;
  margin: 7px;
  width: 13vw;
  height: 13vw;
  padding: 6px;
  border-radius: 15px !important;
  background-color: #fff;
  background-color: #fff;
  border: 1px solid #1abc9c;
  background-image: linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -o-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -moz-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -webkit-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -ms-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #1abc9c),
    color-stop(1, (#1f5967))
  );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff !important ;
}

.game_status_memory {
  font-family: "Rajdhani", sans-serif;
  font-size: 50px;
  text-align: center;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.title {
  background-color: tomato;
  color: #fff;
  width: 50%;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 50px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  border: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width: 991px) {
  .title {
    width: 70%;
    font-size: 2em;
    text-align: center;
    justify-content: center;
    display: flex;
  }
  .game_status_memory {
    font-size: 7vw;
  }

  .Back {
    margin: 4px;
    width: 13vw;
    height: 13vw;
  }

  .Front {
    margin: 4px;
    width: 13vw;
    height: 13vw;
  }
  .Cards {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}
