.container {
  display: flex;
  flex-wrap: wrap;
  background: #f5b120;
  max-width: 90%;
  padding: 20px;
  margin: 10px;
  border-radius: 15px !important;
  padding-top: 30px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.Cards {
  margin-left: auto;
  margin-right: auto;
}

.Cards_In {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.Back {
  transition: 0.6s;
  transform: rotateY(-180deg);
  cursor: pointer;
  float: left;
  margin: 10px;
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 15px !important;
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
  background-image: linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -o-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -moz-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -webkit-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -ms-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #1abc9c),
    color-stop(1, (#1f5967))
  );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.Front {
  cursor: pointer;
  float: left;
  margin: 10px;
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 15px !important;
  background-color: #fff;
  background-color: #fff;
  border: 1px solid #1abc9c;
  background-image: linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -o-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -moz-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -webkit-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -ms-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #1abc9c),
    color-stop(1, (#1f5967))
  );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  transition: 0.6s;
  transform: rotateY(0deg);
}

.logo_image {
  max-width: 80%;
  max-height: 90%;
  display: block;
  margin: auto;
  margin-top: 30%;
  align-items: center;
}

.image {
  max-width: 80%;
  max-height: 90%;
  display: block;
  margin: auto;
  background-color: #fff !important ;
}

.game_status {
  font-family: "Rajdhani", sans-serif;
  font-size: 50px;
  text-align: center;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: "Rajdhani", sans-serif;
  font-size: 50px;
  font-weight: 600;
  background: tomato;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  border: none;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
