.ColorBox {
  border: 3px solid black;

  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  border: none;
  justify-content: space-between;
}

.ColorBoxRed {
  background-color: #eb2d3a;
  width: 200px;
  height: 200px;
  justify-content: center;
  margin-left: auto;
  margin-right: 20px;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.ColorBoxBlue {
  background-color: #0a6fb6;
  width: 200px;
  height: 200px;
  justify-content: center;
  margin-left: auto;
  margin-right: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.ColorBoxYellow {
  background-color: #ffff66;
  width: 200px;
  height: 200px;
  justify-content: center;
  margin-left: auto;
  margin-right: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.ColorBoxGreen {
  background-color: #9bbd2f;
  width: 200px;
  height: 200px;
  justify-content: center;
  margin-left: auto;
  margin-right: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background: #f5b120;
  max-width: 90%;
  padding: 20px;
  margin: 10px;
  border-radius: 15px !important;
  padding-top: 30px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.game_status {
  font-family: "Rajdhani", sans-serif;
  font-size: 50px;
  text-align: center;
  color: black;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.title {
  font-family: "Rajdhani", sans-serif;
  font-size: 50px;
  font-weight: 600;
  background: tomato;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  border: none;
}
