.ColorBox {
  border: 3px solid black;

  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  border: none;
  justify-content: space-between;
}

.ColorBoxRed {
  background-color: #eb2d3a;
  width: 200px;
  height: 200px;
  justify-content: center;
  margin-left: auto;
  margin-right: 20px;
  border: 1px #eb2d3a solid;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 6px 0px #eb2d3a, 0px 3px 15px rgba(0, 0, 0, 0),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 6px 0px #eb2d3a, 0px 3px 15px rgba(0, 0, 0, 0),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 6px 0px #eb2d3a, 0px 3px 15px rgba(0, 0, 0, 0),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.ColorBoxBlue {
  background-color: #0a6fb6;
  width: 200px;
  height: 200px;
  justify-content: center;
  margin-left: auto;
  margin-right: 20px;
  border: 1px #0a6fb6 solid;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 6px 0px #0a6fb6, 0px 3px 15px rgba(0, 0, 0, 0),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 6px 0px #0a6fb6, 0px 3px 15px rgba(0, 0, 0, 0),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 6px 0px #0a6fb6, 0px 3px 15px rgba(0, 0, 0, 0),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.ColorBoxYellow {
  background-color: #ffff10;
  width: 200px;
  height: 200px;
  justify-content: center;
  margin-left: auto;
  margin-right: 20px;
  border: 2px #ffff10 solid;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 6px 0px #ffff10, 0px 3px 15px rgba(0, 0, 0, 0),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 6px 0px #ffff10, 0px 3px 15px rgba(0, 0, 0, 0),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 6px 0px #ffff10, 0px 3px 15px rgba(0, 0, 0, 0),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.ColorBoxGreen {
  background-color: #acd426;
  width: 200px;
  height: 200px;
  justify-content: center;
  margin-left: auto;
  margin-right: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 6px 0px #acd426, 0px 3px 15px rgba(0, 0, 0, 0),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 6px 0px #acd426, 0px 3px 15px rgba(0, 0, 0, 0),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 6px 0px #acd426, 0px 3px 15px rgba(0, 0, 0, 0),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.container {
  display: flex;
  flex-wrap: wrap;
  background: #f5b120;
  max-width: 90%;
  padding: 20px;
  margin: 10px;
  border-radius: 15px !important;
  padding-top: 30px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.game_status {
  font-family: "Rajdhani", sans-serif;
  font-size: 50px;
  text-align: center;
  color: black;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.title {
  font-family: "Rajdhani", sans-serif;
  font-size: 50px;
  font-weight: 600;
  background: tomato;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  border: none;
}
