.cards {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #f6f6f6;
}

.cardd {
  flex: 0 1 calc(33% - 1em);
  border-radius: 10px;
  border: none;
  max-width: 50%;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8px;
  text-align: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.card_image img {
  margin-top: 15px;
  width: 70%;
  padding: 20px;
  border-radius: 8px 8px 0px 0px;
  overflow-y: hidden;
  overflow-x: hidden;
  cursor: pointer;
  transition: transform 0.4s; /* Animation */
}

.card_image img:hover {
  transform: scale(1.1);
}

.card_header {
  color: black;
  font-family: "Rajdhani", sans-serif;
  font-size: 2vw;
  font-weight: 600;
}

.card_text {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5vw;
  margin: 5px;
}

.card_button {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 1em;
  padding: 10px;
  margin: 4px;
  margin-bottom: 7px;
  border-radius: 3px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background: tomato;
  color: white;
  border: none;
}

.card_button:hover {
  background-color: #3dbd8a;
}

@media (max-width: 991px) {
  .cards {
    display: inline-block;
    padding-top: 0px;
    width: 100%;
  }

  .cardd {
    flex: 0 1 calc(60% - 1em);
    max-width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .card_header {
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-size: 4vw;
    font-weight: 600;
  }

  .card_text {
    font-family: "Rajdhani", sans-serif;
    font-size: 3vw;
    margin: 5px;
  }

  .card_button {
    font-size: 20px;
    width: 90%;
  }
}
