.loader {
  margin-top: 50px;
}

.main_Page_Quiz {
  background-color: rgb(255, 255, 255);
  padding: 20px 0px;
  height: 130vh;
  color: #f43f5a;
}

.inhoud_Quiz {
  width: 40%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgb(229, 229, 230);
  text-align: center;
  margin: auto;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.quiz_content {
  margin: 20px;
}

.lesson_h2 {
  font-size: 50px;
  font-weight: 600;
}

.question {
  border: 1px solid rgb(229, 229, 230);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
}
.question_answer {
  border: 1px solid rgb(229, 229, 230);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
}

.displayer {
  display: flex;
}

.begin_Lesson {
  background-color: #f43f5a;
  padding: 20px;
  width: 60% !important;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
}

.quiz_Elements {
  padding: 20px;
}

.rekenen Button {
  background-color: #f43f5a;
  padding: 20px;
  width: 30%;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.rekenen Button:hover {
  background-color: #f77588;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
}

Button:focus,
Button:active {
  outline: none !important;
  box-shadow: none;
}

.question_Image {
  margin-bottom: 20px;
}

.question_Image img {
  width: 80%;
  border-radius: 10px;
  /* border: 2px solid rgb(229, 229, 230); */
  /* box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4); */
}

.question_Image_sound {
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

.question_Image_sound .button_Sound {
  background-color: #fff !important;
  border: 1px solid #f43f5a;
  width: 70%;
  color: #f43f5a;
  margin-bottom: 20px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}
.quiz_answers {
  width: 90%;
}

.answer_Image {
  margin: 10px;
}

.answer_Image img {
  width: 100%;
  border-radius: 10px;
}

/* .answer_Image img:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
} */

.answer_Image_Correct {
  margin-bottom: 10px;
}

.answer_Image_Correct {
  width: 60%;
  border-radius: 10px;
  border: 4px solid rgb(1, 139, 24);
  box-shadow: 10px 8px 50px rgb(1, 139, 24);
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.answer_Image_False {
  width: 60%;
  border-radius: 10px;
  border: 4px solid rgb(255, 2, 2);
  box-shadow: 10px 8px 50px rgb(255, 2, 2);
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.answer_Image_sound {
  width: 90%;
  margin: auto;
}

.answer_Image_sound .button_Sound {
  background-color: #fff !important;
  border: 1px solid #f43f5a;
  width: 40%;
  color: #f43f5a;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

.next_question {
  background-color: #f43f5a !important;
  width: 60%;
  color: #fff !important;
  margin-bottom: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
}
.next_question:focus {
  background-color: #f43f5a !important;
  width: 60%;
  color: #fff !important;
  margin-bottom: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
}
