.quiz_Container {
  height: 100%;
}

.quiz_Category {
  height: 100%;
  display: block;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 100px;
}

.quiz_Title {
  text-align: center;
}

.quiz_single {
  display: flex;
  justify-content: center;
}
.cat {
  cursor: pointer;
  background: green;
  width: 200px;
  height: 200px;
  color: white;
  text-align: center;
  border-radius: 3px;
  position: relative;
  margin: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
}

.cat:hover {
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.34),
    0 30px 50px 0 rgba(0, 0, 0, 0.19);
}

.cat {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px !important;
  font-weight: 700;
}

@media (max-width: 991px) {
  .cat {
    width: 100px;
    height: 100px;
  }

  .cat h5 {
    font-size: 20px;
  }
}
