/* .loading_spinner {
  z-index: 9999;
  width: 100vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: white;
} */

.loading_spinner {
  z-index: 9999;
  /* width: 100vw; */
  /* height: 30vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
  /* background-color: red; */
  /* margin: auto; */
}
