.status {
  font-family: "Rajdhani", sans-serif;
  font-size: 50px;
  margin: 20px 0px;
  text-align: center;
}
.square:focus {
  outline: 0;
}

.square {
  background: #fff;
  border: 15px solid #999;
  /* float: left; */
  font-size: 70px;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  line-height: 80px;
  height: 100px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #1abc9c;
  margin: 10px;
  border: 1px solid #1abc9c;
  border-radius: 15px !important;

  background-image: linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -o-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -moz-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -webkit-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -ms-linear-gradient(
    to bottom,
    rgb(#1abc9c) 0%,
    rgb(#1abc9c) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #1abc9c),
    color-stop(1, (#1f5967))
  );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}
.square:active {
  background-image: linear-gradient(
    to bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -o-linear-gradient(
    to bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(88, 154, 204)),
    color-stop(1, rgb(90, 150, 199))
  );
}
.board-row {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Board */
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game {
  margin-top: 10%;
  margin-bottom: 10%;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  padding: 30px;
  background-color: #f5b120;
  border-radius: 15px;
}

.resetButton {
  background-color: tomato;
  color: #fff;
  padding: 1em;
  width: 80%;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 25px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  border: none;
}
.butts {
  display: flex;
  justify-content: center;
}

.title_tictactoe {
  font-family: "Rajdhani", sans-serif;
  font-size: 50px;
  font-weight: 600;
  background: tomato;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  width: 50%;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  border: none;
}

@media (max-width: 375px) {
  .game {
    /* margin-top: 32%; */
    /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  }
}

@media (max-width: 991px) {
  .board-row {
    margin-left: 15px;
    margin-right: 15px;
  }

  .game {
    max-width: 94%;
  }

  .title_tictactoe {
    width: 70%;
    font-size: 2em;
    text-align: center;
    justify-content: center;
    display: flex;
  }

  .square {
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: inherit;
  }
  .board-row {
    justify-content: center;
    display: flex;
  }

  .resetButton {
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
  }

  .status {
    font-size: 30px;
  }
}
